{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
    <h1>{{ title }}</h1>
    <p>Paste a list of amenities below. Use one amenity per line, or separate them with commas or semicolons.</p>

    <form method="post" novalidate>
        {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.as_p }}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Create amenities" class="default">
            <a href="{% url 'admin:properties_amenity_changelist' %}" class="button cancel-link">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}