{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {jsx, "3.1.0"},
    {cowboy, "2.10.0"},
    {lager, "3.9.2"}
]}.

{shell, [
    {apps, [messaging_service]}
]}.

{relx, [
    {release, {messaging_service, "1.0.0"}, [messaging_service]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
